[run]
source = djangojs
branch = True
omit =
    djangojs/models.py
    djangojs/settings.py
    djangojs/test_urls.py
    djangojs/wsgi.py
    djangojs/fake/*
    djangojs/management/*
    djangojs/tests/*

